build*/
logs/
data/

### protobuf files ###
*.pb.cc
*.pb.h
*_pb2.py

### node.js modules ###
node_modules/

### static web file serving area
web/www/

### web services configuration ###
web/config.js

### other files ###
*.swp
*.pyc
